body {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Color de fondo claro */
    font-family: sans-serif;
}

.formulario {
    display: flex;
    flex-direction: column; /* Asegúrate de que los elementos hijos se apilen verticalmente */
    justify-content: center; /* Centra el contenido verticalmente dentro del formulario */
    align-items: center; /* Centra el contenido horizontalmente dentro del formulario */
    height: auto;
    width: 300px;
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}


label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #666;
}

.inp {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.sub {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.sub:hover {
    background-color: #0056b3;
}

.inp:required {
    border: 2px solid #ff0000; /* Cambia el borde a rojo para los campos requeridos */
}

.inp:required:focus {
    border-color: #ff4500; /* Cambia el color del borde cuando el campo requerido está enfocado */
    outline: none; /* Elimina el borde predeterminado del navegador */
    box-shadow: 0 0 5px rgba(255, 69, 0, 0.5); /* Añade una sombra para resaltar el campo */
}


/* Media query para dispositivos móviles */
@media (max-width: 600px) {
    .formulario {
        width: 90%; /* Ajusta el ancho del formulario para que ocupe el 90% del ancho de la pantalla */
        padding: 15px; /* Reduce el padding para dispositivos móviles */
    }


    .inp, .sub {
        font-size: 14px; /* Reduce el tamaño de la fuente de los inputs y el botón de envío */
        padding: 8px; /* Reduce el padding de los inputs y el botón de envío */
    }
}

legend {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}